@import "semantic-ui";
.chatbox{
  max-height: 500px;
}
.btn-nav{
  margin-left: 25px!important;
}
#messages{
  height: 400px;
  overflow-y: auto;
}
#messages .summary{
  width: 780px!important;
}
.input{
  button {
    display: none;
  }
}
